<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <link rel="stylesheet" type="text/css" href="/static/css/nam/reset.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/nam/notice.css"  />
     <link rel="stylesheet" href="/static/css/Nam/main.css">
    <script src="https://kit.fontawesome.com/21e161ac95.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/Nam/board.js"></script>
    <script type="text/javascript" src="/static/js/Lim/main.js"></script>
</head>
<body>
    <div id="wrap">
        <header id="header">
            <header class="header-inner">
                <nav class="nav">
                    <div><a href="/brand">BRAND</a></div>
                    <div><a href="/program">PROGRAM</a></div>
                    <div><a href="/wellmate">WELL MATE</a></div>
                    <div><a href="/item">WELLNESS ITEM</a></div>
                </nav>
                <div class="logo"><a href="/"><img src="/static/img/logo.png" alt=""></a></div>
                <nav class="nav1">
                	<div><a href="/contact">CONTACT</a></div>
					<div><a href="/board/notice">자유게시판</a></div>
					<div><a href="/notice/main">공지사항</a></div>
                </nav>
                <nav class="login">
                    <p><a href="/auth/signin">로그인</a></p>
                    <p><a href="/auth/signup">회원가입</a></p>
                    <div class="bar-img"><i class="fa-solid fa-bars"></i></div>
                </nav>
            </header>
        </header>

        <!-- 공지사항 -->
        <div class="notice-main">
            <div class="main-img">
                <img src="/static/img/notice03.png">
            </div>
            <h3>공지사항</h3>
            <div class="notice-inner">
                <div class="search-bar">
                    <button type="button" class="write-now">글쓰기</button>
                    <input type="text" title="검색" placeholder="검색하세요" id="search" class="search-form" >
                    <i class="fa-solid fa-magnifying-glass fa-2xs"></i>
                </div>
                <table class="notice-list">
                    <tbody>
                        <tr>
                            <td>200</td>
                            <td>친환경 여행 함께해요 World Environment Day</td>
                            <td>2023-07-31</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="notice-search-button">
                <div class="page-buttons">
                    <button type="button" class="page-button">&lt;</button>
                    <button type="button" class="page-button">1</button>
                    <button type="button" class="page-button">2</button>
                    <button type="button" class="page-button">3</button>
                    <button type="button" class="page-button">4</button>
                    <button type="button" class="page-button">5</button>
                    <button type="button" class="page-button">&gt;</button>
                </div>
            </div>
        </div>

        <!-- 하단부분 -->
        <footer id="footer">
            <div class="footer-img"><img src="/static/img/footer.png"  alt="" /></div>
        </footer>
    </div>
</body>
</html>