<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시물 작성폼</title>
	<link rel="stylesheet" type="text/css" href="/static/css/nam/reset.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/nam/boardwrite.css"/>
     <link rel="stylesheet" href="/static/css/Nam/main.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="/static/js/Lim/main.js"></script>
</head>

<body>
	<div id="wrap">
	    <div class=header>
			<h3>Q&A</h3>
			<div class="button-area">
				<button type="button">취소</button>
				<button type="button" onclick="getData()">작성</button>
			</div>
		</div>
		<div class="layout">
			<div>
				<input name="boardTitle" type="text" placeholder="제목" class="titletext">
				<div class="bar"></div>
				<textarea name="boardContent" id="ir1" placeholder="내용을 입력해주세요" class="textarea"></textarea>
			</div>
		</div>
	</div>
	
    <script src="../../static/js/Nam/board.js"></script>
</body>
</html>