<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BRAND 페이지</title>
    <link rel="stylesheet" type="text/css" href="/static/css/nam/reset.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/nam/brand-main.css" />
     <link rel="stylesheet" href="/static/css/Nam/main.css">
    <script src="https://kit.fontawesome.com/21e161ac95.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/static/js/Lim/main.js"></script>
</head>
<body>
    <div id="wrap">
        <header id="header">
            <header class="header-inner">
                <nav class="nav">
                    <div><a href="/brand">BRAND</a></div>
                    <div><a href="/program">PROGRAM</a></div>
                    <div><a href="/wellmate">WELL MATE</a></div>
                    <div><a href="/item">WELLNESS ITEM</a></div>
                </nav>
                <div class="logo"><a href="/"><img src="/static/img/logo.png" alt=""></a></div>
                <nav class="nav1">
                	<div><a href="/contact">CONTACT</a></div>
					<div><a href="/board/notice">자유게시판</a></div>
					<div><a href="/notice/main">공지사항</a></div>
                </nav>
                <nav class="login">
                    <p><a href="/auth/signin">로그인</a></p>
                    <p><a href="/auth/signup">회원가입</a></p>
                    <div class="bar-img"><i class="fa-solid fa-bars"></i></div>
                </nav>
            </header>
        </header>

        <section class="info-img-section-first">
            <img src="/static/img/intro-01.jpg" alt="" />
            <article class="text01">
                <h5>일상과 여행사이 in 제주</h5>
                <p>여행을  떠나 만난 사람과 장소, 경험을 통해<br/>
                새로운 시각과 변화된 '나'를 마주해본 경험이 있나요?<br/>
                여행이 우리에게 주는 의미를 담아 일상을 마치<br/>
                여행하듯 바라보면 어떨까에서<br/>
                일상과 여행 사이를 떠올리게 되었습니다.</p>
                <p>다양한 삶의 모양이 모여 있는 제주에서<br/>
                    일상과 여행 사이의 첫 이야기를 시작합니다.</p>
            </article>
        </section>

        <section class="info-img-section-second">
            <article class="text02">
                <h5>우리는 일상 탐험가</h5>
                <p>우리는 마치 탐험가처럼 일상을 살아갑니다.<br/>
                여행하듯 일상을 탐험하면서 내가 좋아하는 것을 찾고,<br/>
                함께 하고 싶은 사람을 만나며,<br/>
                생각지 못한 순간을 맞이하기도 합니다.<br/></p>
                <p>일상과 여행 사이를 오가며<br/>
                    나를 마주하는 시간을 통해 즐거움과 건강한 변화로<br/>
                    진정한 나를 찾는 여정을 함께 떠나요.
                </p>
            </article>
            <img src="/static/img/intro-02.gif" alt="" />
        </section>

        <section class="info-img-section-third">
            <img src="/static/img/intro-03.jpg" alt="" />
            <article class="text03">
                <h5>일상 속 웰니스를 전하는 공간</h5>
                <p>일상과 여행사이는 일상의 다양한 분야를<br/>
                웰니스의 가치와 결합하여<br/>
                일상 탐험을 도와주는 프로그램을 선보이며<br/>
                함께 하는 일상 탐험가에게 아래의 가치를  전달하고자 합니다.<br/>
                </p>
                <ul class="info-section">
                    <li>
                        <h5>WELLNESS</h5>
                        <div class="con-bar" style="background-color: #eda3b0;"></div>
                        <span>나의 리듬을 찾아<br/>
                        '삶'의 균형을<br/>
                        이루는 웰니스</span>
                    </li>
                    <li>
                        <h5>EXPLORE</h5>
                        <div class="con-bar"  style="background-color: #88b1c3;"></div>
                        <span>일상 탐험을 통해<br/>
                        알게된 나의<br/>
                        새로운 모습</span>
                    </li>
                    <li>
                        <h5>WITH</h5>
                        <div class="con-bar" style="background-color: #e79d6c;"></div>
                        <span>서로를 응원하고<br/>
                        지지해주는<br/>
                        따스한 연결감</span>
                    </li>
                </ul>
                
            </article>
        </section>
        

        <!-- 하단부분 -->
        <footer id="footer">
            <img src="/static/img/footer.png" alt="" />
        </footer>
    </div>
</body>
</html>