<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=-, initial-scale=1.0">
    <title>일상과 여행사이 메인페이지</title>
    <link rel="stylesheet" type="text/css" href="/static/css/nam/reset.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/nam/main.css" />
    <script src="https://kit.fontawesome.com/21e161ac95.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
</head>
<body>
    <div id="wrap">
        <header id="header">
            <header class="header-inner">
                <nav class="nav">
                    <div><a href="/brand">BRAND</a></div>
                    <div><a href="/program">PROGRAM</a></div>
                    <div><a href="/wellmate">WELL MATE</a></div>
                    <div><a href="/item">WELLNESS ITEM</a></div>
                </nav>
                <div class="logo"><a href="/"><img src="/static/img/logo.png" alt=""></a></div>
                <nav class="nav1">
                	<div><a href="/contact">CONTACT</a></div>
					<div><a href="/board/notice">자유게시판</a></div>
					<div><a href="/notice/main">공지사항</a></div>
                </nav>
                <nav class="login">
                    <p><a href="/auth/signin">로그인</a></p>
                    <p><a href="/auth/signup">회원가입</a></p>
                    <div class="bar-img"><i class="fa-solid fa-bars"></i></div>
                </nav>
            </header>
        </header>
        <!-- 메인 슬라이드 -->
        <section id="main-slide">
            <img src="/static/img/main-slide01.png" alt="" />
        </section>
        <!-- 두번째 컨텐츠 -->
        <section id="content">
            <div class="inner-content">
                <h2>일상 탐험가를 위한<br /> 웰메이트의 프로그램을 만나보세요</h2>
                <p>#Dailyjoy #Weeklydelight #Monthlyhappiness</p>
                <article class="item">
                    <ul>
                        <li>
                            <img src="/static/img/content01.png" alt="컨텐츠1번"/>
                            <span>[웰니스 클럽] 컬러로 탐험하는 나의 마음</span>
                        </li>
                        <li>
                            <img src="/static/img/content02.jpg" alt="컨텐츠2번"/>
                            <span>[일상 탐험] 썬데이 뮤직 클럽</span>
                        </li>
                        <li>
                            <img src="/static/img/content03.jpg" alt="컨텐츠3번"/>
                            <span>[일상 탐험] 나만의 제주 구좌 풍경을 담는<br />
                            판화 클래스</span>
                        </li>
                        <li>
                            <img src="/static/img/content04.jpg" alt="컨텐츠4번"/>
                            <span>[일상 탐험] 빠우사 컬러요가 클래스</span>
                        </li>
                    </ul>
                </article>
            </div>
            <div class="line"></div>
            <div class="line-img"><img src="/static/img/bar.png" alt="" /></div>
        </section>

        <!-- 세번째 컨텐츠 -->
        <section id="content-second">
            <div class="inner-content-second">
                <h2>Instagram</h2>
                <p>@ilsangtrip_jeju</p>
                <article class="item-second">
                    <ul>
                        <li>
                            <img src="/static/img/content-slide01.jpg" alt="컨텐츠1번"/>
                        </li>
                        <li>
                            <img src="/static/img/content-slide02.jpg" alt="컨텐츠2번"/>
                        </li>
                        <li>
                            <img src="/static/img/content-slide03.jpg" alt="컨텐츠3번"/>
                        </li>
                    </ul>
                </article>
            </div>
        </section>

        <!-- 하단부분 -->
        <footer id="footer" style="background-color: #29613a;">
            <div class="footer-img"><img src="/static/img/footer.png" alt="" /></div>
        </footer>
    </div>
    <script type="text/javascript" src="/static/js/Lim/main.js"></script>
</body>
</html>