/* >>>>>> header 부분 <<<<<< */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 93px;
    border-bottom: 1px solid #000;

}

#header .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 1500px;
}

#header .nav {
    display: flex;
    width: 600px;
    font-size: 17px;
    color: #555;
}

#header .nav div {
    width: 100px;
    margin-right: 20px;
    font-family: 'NanumSquareRound';
    /* background-color: antiquewhite; */
}

#header .nav div:nth-child(1) {
    width: 70px;
}

#header .nav div:nth-child(4) {
    width: 150px;
    text-align: center;
}

#header .nav a {
    color: #555;
    font-size: 16px;
}
/* 왼쪽 */
#header .nav1 {
    display: flex;
    width: 300px;
    font-size: 17px;
    color: #555;
    margin-left: 130px;
    
}

#header .nav1 div {
    width: 100px;
    margin-right: 20px;
    font-family: 'NanumSquareRound';

}

#header .nav1 div:nth-child(1) {
    width: 70px;
    text-align: center;
}

#header .nav1 div:nth-child(2) {
    width: 80px;
    text-align: center;
}

#header .nav1 div:nth-child(3) {
    width: 70px;
    text-align: center;
}

#header .nav1 a {
    color: #555;
    font-size: 16px;
}

#header .logo {
    width: 135px;
    height: 93px;
    margin-top: 35px;
    margin-left: 50px;
    margin-right: 45px;
}

#header .logo img {
    width: 100%;
}

#header .login {
    display: flex;	
}

#header .login  p {
    font-size: 10px;
/*     margin-right: 10px; */
    width: 60px;
}

#header .login a {
    color: #555;
}