/* .order-sige {
    border: 3px solid;
	background-color: white;
	height: 300px;
	width: 300px;
    display: inline-block;
}
 */

/* .content {
    position: relative;

    width: 485px;
    height: 530px;

    font-family: 'NanumSquareRound';
    
    background-color: white;
}  */

/* .img-section {
    position: absolute;
    width: 485px;
    height: 480px;
    border: 1px solid;
} */

/* .txt-section {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
   */
/* .content img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}  */
 