<!DOCTYPE html>
<html lang="ko" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <link rel="stylesheet" href="/static/css/Kim/programDetail.css">
    <link rel="stylesheet" href="/static/css/Kim/selectOption.css">
    <link rel="stylesheet" href="/static/css/Kim/footer.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/0894ad155a.js" crossorigin="anonymous"></script>
    <script src="/static/js/Kim/programDetail.js"></script>
    <script type="text/javascript" src="/static/js/Lim/main.js"></script>
    <style>
        .header-title-state p {
            display: inline; /* 해당 클래스 안의 p 태그를 인라인 요소로 변경 */
            margin: 0; /* 기본적인 문단 간의 여백을 제거 */
            font-size: 30px;
        }
    </style>
</head>
<body>
    <header id="header">
       <header class="header-inner">
                <nav class="nav">
                    <div><a href="/brand">BRAND</a></div>
                    <div><a href="/program">PROGRAM</a></div>
                    <div><a href="/wellmate">WELL MATE</a></div>
                    <div><a href="/item">WELLNESS ITEM</a></div>
                </nav>
                <div class="logo"><a href="/"><img src="/static/img/logo.png" alt=""></a></div>
                <nav class="nav1">
                	<div><a href="/contact">CONTACT</a></div>
					<div><a href="/board/notice">자유게시판</a></div>
					<div><a href="/notice/main">공지사항</a></div>
                </nav>
                <nav class="login">
                    <p><a href="/auth/signin">로그인</a></p>
                    <p><a href="/auth/signup">회원가입</a></p>
                    <div class="bar-img"><i class="fa-solid fa-bars"></i></div>
                </nav>
            </header>
    </header>

    
    <main id="main">
        <div class="blank"></div>

        <div class="summary">
            <div class="summary-img">
                <!-- <img src="/static/images/project-l/1.png"> -->
            </div>

            <div class="summary-item">
                <div class="item-header">
                    <div class="header-title-state">
                        <!-- <p class="program-theme">111</p>
                        <p class="program-title">111</p> -->
                    </div>
                    <div class="header-price-share">
                        <!-- <p class="program-price">15,000원</h2> -->
                    </div>
                    <hr style="color: grey;">
                </div>
                <div class="item-info">
                    <p class="program-info">
                        일요일 낮, 잠시 음악을 통해 나를 충전하는 시간을 가져보세요.
                        음악으로 위로를 전달하는 웰 메이트 박신영과 함께 뮤지컬 음악 세계로 빠져보는 시간,
                        뮤지컬 라라랜드의 OST와 함께 '꿈'을 주제로 진행됩니다.
                    </p>
                </div>
                <div class="item-table">
                    <table>
                        <tbody>
                            <tr>
                                <th>장소</th>
                                <td class="program-place">함덕 메리굿 (제주시 함덕로 32)</td>
                            </tr>
                            <tr>
                                <th>일정</th>
                                <td class="program-schedule">매주 일요일 2시 30분 ~ 4시</td>
                            </tr>
                            <tr>
                                <th>클래스 시간</th>
                                <td class="program-time">90분 소요</td>
                            </tr>
                            <tr>
                                <th>진행 인원</th>
                                <td class="program-participants">최소 2명 ~ 최대 7명</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="item-footer">
                    <form class="item-entity">
                        <label for="option">선택 *</label>
                        <select name="option" class="option">
                          <option value="none">선택 (필수)</option>
                          <!-- <option value="option1">3월 12일 (일) 오후 2시 30분(품절)</option>
                          <option value="option2">3월 19일 (일) 오후 2시 30분(품절)</option>
                          <option value="option3">3월 26일 (일) 오후 2시 30분(품절)</option> -->
                        </select>
                        <div class="submit-buttons">
                            <button type="submit" class="buy" value="구매"></button>
                            <button type="submit" class="like" value="">
                                <img src="/static/img/program/1.png" alt="">
                                <p>6</p>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="blank"></div>

        <div class="long">
            <div class="three-button">
                <button type="button" onclick="scrollToSection('#destination')">상세정보</button>
                <button type="button">구매평</button>
                <button type="button">Q&A</button>
            </div>
    
            <div class="detail" id="destination">
                <div class="big-img">
                    <!-- <img src="/static/img/program/L/detail/1.png" alt="Image"> -->
                </div>
            </div>

            <div class="blank"></div>
            <div class="blank"></div>
            <div class="blank"></div>
    
            <div class="finish">
                <div class="review-title"><h4>구매평(n)</h4></div>
                <button type="button">구매평 작성</button>

                <div class="review">
                    <div class="review-left">
                        <div class="star-rate">★★★★★</div>
                        <div class="review-option">옵션</div>

                        
                        <div class="review-container">

                        </div>
                    </div>
                    <div class="review-right">

                    </div>
                </div>

                <div class="page-container">
                    <button type="button" class="page-button">&lt;</button>
                    <button type="button" class="page-button">1</button>
                    <button type="button" class="page-button">2</button>
                    <button type="button" class="page-button">3</button>
                    <button type="button" class="page-button">4</button>
                    <button type="button" class="page-button">5</button>
                    <button type="button" class="page-button">&gt;</button>
                </div>
                <button type="button" style="float: right;">구매평 작성</button>
            </div>
        </div>
    </main>

    <footer id="footer">
        <div class="background-img"><img src="/static/img/footer.png"></div>
    </footer>


</body>
</html>