<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leisure</title>
    <link rel="stylesheet" href="/static/css/Kim/programMain.css">
    <link rel="stylesheet" href="/static/css/Kim/footer.css">
     <link rel="stylesheet" href="/static/css/Nam/main.css">
    <script src="https://kit.fontawesome.com/0894ad155a.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/Kim/programList.js"></script>
    <script type="text/javascript" src="/static/js/Lim/main.js"></script>
</head>
<body>
    <header id="header">
        <header class="header-inner">
                <nav class="nav">
                    <div><a href="/brand">BRAND</a></div>
                    <div><a href="/program">PROGRAM</a></div>
                    <div><a href="/wellmate">WELL MATE</a></div>
                    <div><a href="/item">WELLNESS ITEM</a></div>
                </nav>
                <div class="logo"><a href="/"><img src="/static/img/logo.png" alt=""></a></div>
                <nav class="nav1">
                	<div><a href="/contact">CONTACT</a></div>
					<div><a href="/board/notice">자유게시판</a></div>
					<div><a href="/notice/main">공지사항</a></div>
                </nav>
                <nav class="login">
                    <p><a href="/auth/signin">로그인</a></p>
                    <p><a href="/auth/signup">회원가입</a></p>
                    <div class="bar-img"><i class="fa-solid fa-bars"></i></div>
                </nav>
            </header>
    </header>
    
    <main id="main">
        <div id="banner">
            <p class="large">Program</p>
            <p class="medium">일상과 여행사이의 웰니스 프로그램</p>
            <hr width="5%" color="black" size="1">
            <p class="small">삶의 균형을 주는 다양한 웰니스 프로그램으로</p>
            <p class="small">일상과 여행 사이와 함께 나만의 웰니스를 찾기 위한 여정을 떠나보세요.</p>
        </div>
    
        <div class="blank"></div>
    
        <div id="list">
            <div class="contents"> 

            </div>
        </div>
        
        <div class="blank"></div>
    </main>

    <footer id="footer">
        <div class="background-img"><img src="/static/img/footer.png"></div>
    </footer>
</body>
</html>