<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leisure</title>
    <link rel="stylesheet" href="/static/css/Kim/program-.css">
    <link rel="stylesheet" href="/static/css/Kim/footer.css">
    <script src="https://kit.fontawesome.com/0894ad155a.js" crossorigin="anonymous"></script> 
</head>
<body>
    <header id="header">
        <header class="header-inner">
            <nav class="nav">
                <div><a href="#">BRAND</a></div>
                <div><a href="#">PROGRAM</a></div>
                <div><a href="#">WELL MATE</a></div>
                <div><a href="#">WELLNESS ITEM</a></div>
                <div><a href="#">CONTACT</a></div>
            </nav>
            <div class="logo"><img src="/static/images/logo.png" alt=""></div>
            <nav class="login">
                <p>로그인</p>
                <p>마이페이지</p>
                <div class="bar-img"><i class="fa-solid fa-bars"></i></div>
            </nav>
        </header>
    </header>
    
    <main id="main">
        <div id="banner">
            <p class="large">Program</p>
            <p class="medium">일상과 여행사이의 웰니스 프로그램</p>
            <hr width="5%" color="black" size="1">
            <p class="small">삶의 균형을 주는 다양한 웰니스 프로그램으로</p>
            <p class="small">일상과 여행 사이와 함께 나만의 웰니스를 찾기 위한 여정을 떠나보세요.</p>
        </div>
    
        <div class="blank"></div>
    
        <div id="list">
            <div class="contents"> 
                <div class="content">
                    <div class="img-section">
                        <img src="/images/project-l/1.png">
                    </div>
                    <div class="txt-section">
                        <h3 class="program-name">[일상 탐험] 썬데이 뮤직 클럽</h3>
                    </div>
                </div>
                <div class="content">
                    <div class="img-section">
                        <img src="/images/project-l/2.png">
                    </div>
                    <div class="txt-section">
                        <h3 class="program-name">[일상 탐험] 나만의 제주 구좌 풍경을 담는 판화 클래스</h3>
                    </div>
                </div>
                <div class="content">
                    <div class="img-section">
                        <img src="/images/project-l/3.png">
                    </div>
                    <div class="txt-section">
                        <h3 class="program-name">[일상 탐험] 빠우사 컬러요가 클래스</h3>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="blank"></div>
    </main>

    <footer id="footer">
        <div class="background-img"><img src="/static/images/footer.png"></div>
    </footer>

    <script type="text/javascript" src="/static/js/Kim/program-list.js"></script>
</body>
</html>