.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    padding: 0 50px;
    border-bottom: 1px solid #ececec;
}

.header h3 {
    font-size: 20px;
    font-family: 'NanumSquareRound';
    color: #555;
}

.button-area {
    margin-right: 100px;
}

.button-area button {
    width: 50px;
    height: 35px;
    border: 1px solid #d0d0d0;
    border-radius: 3px;
    background-color: transparent;
    cursor: pointer;
}

.button-area button:hover {
    background-color: #000;
    color: #fff;
}

.layout {
    width: 800px;
    margin: 0 auto;
    margin-top: 50px;
} 

.layout input {
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-bottom: 1px solid #ececec;
}

.layout textarea {
    width: 100%;
    margin-top: 10px;
    min-height: 300px;
}