@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

#wrap {
    width: 100%;
}

/* >>>>>> header 부분 <<<<<< */
#header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 93px;
    border-bottom: 1px solid #000;
    background-color: #fff;
}

#header .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 1860px;
}

#header .nav {
    display: flex;
    width: 600px;
    font-size: 17px;
    color: #555;
    
}

#header .nav div {
    width: 100px;
    margin-right: 20px;
    font-family: 'NanumSquareRound';

}

#header .nav div:nth-child(1) {
    width: 70px;
}

#header .nav div:nth-child(3) {
    width: 120px;
}

#header .nav div:nth-child(4) {
    width: 150px;
    text-align: center;
}

#header .nav a {
    color: #555;
}

#header .logo {
    width: 135px;
    height: 93px;
    margin-top: 35px;
    margin-left: -480px;
}

#header .logo img {
    width: 100%;
}

#header .login {
    display: flex;
}

#header .login  p {
    font-size: 14px;
    margin-right: 15px;
}

#header .login a {
    color: #555;
}

/* <<<<<< 인포이미지 첫번째 단 >>>>>>>>>> */

.info-img-section-first {
    display: flex;
    padding-top: 93px;
}

.info-img-section-first img {
    width: 50%;
}

.text01 {
    width: 50%;
    padding: 203px 400px 203px 160px;
}

.text01 h5 {
    font-size: 26px;
    color: #000;
    font-family: 'NanumSquareRound';
    font-weight: 800;
    margin-bottom: 35px;
}

.text01 p {
    font-size: 18px;
    line-height: 30px;
    font-family: 'NanumSquareRound';
    color: #555;
    margin-bottom: 20px;
}

/* <<<<<< 인포이미지 두번째 단 >>>>>>>>>> */

.info-img-section-second {
    display: flex;
}

.info-img-section-second img {
    width: 50%;
}

.text02 {
    width: 50%;
    padding: 203px 380px 203px 160px;
}

.text02 h5 {
    font-size: 26px;
    color: #000;
    font-family: 'NanumSquareRound';
    font-weight: 800;
    margin-bottom: 35px;
}

.text02 p {
    font-size: 18px;
    line-height: 30px;
    font-family: 'NanumSquareRound';
    color: #555;
    margin-bottom: 20px;
}

/* <<<<<< 인포이미지 세번째 단 >>>>>>>>>> */

.info-img-section-third {
    display: flex;
}

.info-img-section-third img {
    width: 50%;
    height: 50%;
}

.text03 {
    width: 50%;
    padding: 170px 330px 203px 160px;
}

.text03 h5 {       
    font-size: 26px;
    color: #000;
    font-family: 'NanumSquareRound';
    font-weight: 800;
    margin-bottom: 35px;
}

.text03 p {
    font-size: 18px;
    line-height: 30px;
    font-family: 'NanumSquareRound';
    color: #555;
    margin-bottom: 20px;
}

/* <<<< 컨텐츠03 ----11111>>>>> */

.info-section {
    width: 650px;
    height: 300px;
    display: flex;
}

.con-bar {
    margin: 0 auto;
    width: 60px;
    height: 8px;
    margin-bottom: 30px;
}

.info-section li {
    width: 216px;
    height: 300px;
    text-align: center;
    padding: 70px 0;
    box-sizing: border-box;
}

.info-section li h5 {
    font-size: 22px;
    color: #555;
    margin-bottom: 20px;
}

.info-section li span {
    font-size: 16px;
    color: #555;
    line-height: 25px;
    letter-spacing: -1px;
}



/* <<<<< 하단 부분 >>>>>>>>> */
#footer {
    width: 100%;
    height: 300px;
    background-color: #29613a;
}

#footer img {
    width: 100%;
}