@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

#wrap {
     width: 100%;
}

/* >>>>>> header 부분 <<<<<< */
#header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 93px;
    border-bottom: 1px solid #000;
    background-color: #fff;
}

#header .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 1860px;
}

#header .nav {
    display: flex;
    width: 600px;
    font-size: 17px;
    color: #555;
    
}

#header .nav div {
    width: 100px;
    margin-right: 20px;
    font-family: 'NanumSquareRound';

}

#header .nav div:nth-child(1) {
    width: 70px;
}

#header .nav div:nth-child(3) {
    width: 120px;
}

#header .nav div:nth-child(4) {
    width: 150px;
    text-align: center;
}

#header .nav a {
    color: #555;
}

/* 왼쪽 */
#header .nav1 {
    display: flex;
    width: 600px;
    font-size: 17px;
    color: #555;
    
}

#header .nav1 div {
    width: 100px;
    margin-right: 20px;
    font-family: 'NanumSquareRound';

}

#header .nav1 div:nth-child(1) {
	padding-left: 300px;
    width: 70px;
    text-align: center;
}

#header .nav1 div:nth-child(2) {
    width: 80px;
    text-align: center;
}

#header .nav1 div:nth-child(3) {
    width: 70px;
    text-align: center;
}

#header .nav1 a {
    color: #555;
}

#header .logo {
    width: 135px;
    height: 93px;
    margin-top: 35px;
    margin-left: 50px;
}

#header .logo img {
    width: 100%;
    margin-left: 100px;
}

#header .login {
    display: flex;
}

/* #header .login  p {
    font-size: 14px;
    margin-right: 15px;
}
 */
#header .login  p {
    font-size: 10px;
/*     margin-right: 10px; */
    width: 60px;
}

#header .login a {
    color: #555;
}


/* 섹션부분 */
#section {
    width: 100%;
    height: 800px;
    padding: 93px 200px 0 200px;
    display: flex;
}

.section-info {
    width: 200px;
    height: 500px;
    padding: 150px 0;
    box-sizing: border-box;
}

.section-info p {
	width: 70px;
	height: 20px;
	margin-bottom: 20px;
    cursor: pointer;
}

.pink-underline {
    border-bottom: 2px solid #f39f92;
}


.login-info {
    width: 500px;
}

.login-info li {
    width: 500px;
    height: 300px;
    padding-left: 100px;
}

.info h5 {
    font-size: 22px;
    font-family: 'NanumSquareRound';
    color: #000;
}

.profile {
	display:flex;
	align-items:center;
    width: 600px;
    height: 200px;
    padding-left: 100px;
    margin-top: 100px;
}

.profile img {
	width: 150px;
	height: 150px;
}

.introduce {
	margin-left: 50px;
	line-height: 50px;
}

.introduce h3 {
	font-size: 25px;
	font-weight: 900;
}

.info {
    padding: 50px 0;
}

.order-title-list {
	width: 1500px;
}

.order-sige {
	display: inline-block;
}

.content {
	border: 1px solid;
	background-color: white;
	width: 350px;
	height: 300px;
    display: inline-block;
}

.img-section {
	width: 350px;
	height: 280px;
}

.img-section img {
	width: 100%;
	height: 100%; 
}

.txt-section {
	width: 100%;
	height: 35px;
}

.but-section {
	width: 100%;
	height: 35px;
}

.order-button {
	border: 1px solid;
	width: 350px;
	height: 30px;
	background-color: white;
	
}


/* 회원정보 수정 모달창 */
.usermodify-form {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1400px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-main {
    position: absolute;
    left: 40%;
    top: 5%;
    width: 370px;
    height: 1150px;
    border-radius: 5px;
    background-color: #fff;
}

.modal-main i {
    position: absolute;
    right: 15px;
    top: 23px;
    cursor: pointer;
}

.modal-main h5 {
    text-align: center;
    font-size: 25px;
    font-family: 'NanumSquareRound';
    font-weight: 900;
    margin-top: 30px;
}

.section {
    margin: 0 auto;
    text-align: center;
    width: 330px;
    height: 900px;
    padding: 20px 0;
}

.email-form {
    width: 330px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #ececec;
}

.user-name-form {
    width: 330px;
    height: 100px;
    padding-top: 30px ;
}

.user-gender-form {
    width: 330px;
    height: 100px;
}

.input p {
    float: left;
    font-size: 14px;
    margin-bottom: 10px;
}

.input {
    width: 330px;
    height: 15px;
}

.name-form {
    width: 330px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #ececec;
}

.gender-select {
    margin-top: 20px;
    width: 100px;
    height: 50px;
}

.man {
    display: flex;
    align-items: center;
    float: left;
    margin-bottom: 20px;
}

.woman {
    float: left;
    display: flex;
    align-items: center;
}

.radio-man {
    width: 20px;
    height: 20px;
}

.radio-woman {
    width: 20px;
    height: 20px;
}

.user-phone-form {
    width: 330px;
    height: 100px;
    padding-top: 30px ;
}

.phone-form {
    width: 330px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #ececec;
}

.user-address-form {
    width: 330px;
    height: 100px;
    padding-top: 10px ;
}

.address-form {
    width: 330px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #ececec;
}
.user-birth-form {
    width: 330px;
    height: 30px;
    margin-top: 50px;
}

.birth-info {
    display: flex;
    width: 330px;
    height: 100px;
}

select.box {
    width: 107px;
    height: 50px;
    box-sizing: border-box;
    margin-left: 5px;
    padding: 5px 0 5px 10px;
    border: 1px solid #d9d6d6;
    color: #383838;
    background-color: #ffffff;
    font-family: 'Montserrat', 'Pretendard', sans-serif;
}

select.box:nth-child(1) {
    margin-left: 0px;
}

.confirm-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 50px;
    border: 1px solid #000;
    margin-top: 60px;
    cursor: pointer;
    background-color: #fff;
}

.confirm-button:hover {
    background-color: #000;
}

.confirm-button p {
    font-size: 14px;
}

.confirm-button:hover p {
    color: #fff;
}

/* 소셜 로그인 */
.naver-connect {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 330px;
    height: 45px;
    margin-top: 10px;
    background-color: #27d34a;
    padding: 0 20px;
    box-sizing: border-box;
    cursor: pointer;
}

.naver-connect img {
    width: 25px;
    position: absolute;
    left: 20px;
    
}

.naver-connect p {
    color: #fff;
    font-size: 14px;;
}

.google-connect {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 330px;
    height: 45px;
    margin-top: 10px;
    background-color: #fff;
    padding: 0 20px;
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid #d7d7d7;
}

.google-connect img {
    width: 25px;
    position: absolute;
    left: 20px;
}

.google-connect p {
    color: #555;
    font-size: 14px;;
}

.kakao-connect {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 330px;
    height: 45px;
    margin-top: 10px;
    background-color: #FFEB00;
    padding: 0 20px;
    box-sizing: border-box;
    cursor: pointer;
}

.kakao-connect img {
    width: 25px;
    position: absolute;
    left: 20px;
}

.kakao-connect p {
    color: #555;
    font-size: 14px;;
}

/* 회원정보 삭제 모달 */
.userdrop-form {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1400px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
}

.userdrop-main {
    position: absolute;
    left: 35%;
    top: 5%;
    width: 600px;
    height: 290px;
    border-radius: 5px;
    padding: 30px 30px;
    box-sizing: border-box;
    background-color: #fff;
}

.userdrop-main h5 {
    text-align: center;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 30px;
    font-family: 'NanumSquareRound';
}

.userdrop-main p {
    line-height: 30px;
    font-size: 15px;
    color: #555;
    margin-bottom: 20px;
    font-family: 'NanumSquareRound';
}

.drop-button {
    margin: 0 auto;
    text-align: center;
}

.cancel {
    width: 63px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #dddddd;
    border-radius: 20px;
    cursor: pointer;
}

.drop-user-now {
    width: 97px;
    height: 40px;
    background-color: #f39f92;
    border: 0;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
}