<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/6f4cc019cf.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" href="./css/Lim/header.css">
    <link rel="stylesheet" href="./css/Lim/login.css">
    <link rel="stylesheet" href="./css/Lim/style.css">
</head>
<body>
    <header id="header">
        <header class="header-inner">
                <nav class="nav">
                    <div><a href="/brand">BRAND</a></div>
                    <div><a href="/program">PROGRAM</a></div>
                    <div><a href="/wellmate">WELL MATE</a></div>
                    <div><a href="/item">WELLNESS ITEM</a></div>
                </nav>
                <div class="logo"><a href="/"><img src="/static/img/logo.png" alt=""></a></div>
                <nav class="nav1">
                	<div><a href="/contact">CONTACT</a></div>
					<div><a href="/board/notice">자유게시판</a></div>
					<div><a href="/notice/main">공지사항</a></div>
                </nav>
                <nav class="login">
                    <p><a href="/auth/signin">로그인</a></p>
                    <p><a href="/auth/signup">회원가입</a></p>
                    <div class="bar-img"><i class="fa-solid fa-bars"></i></div>
                </nav>
            </header>
    </header>
    <!-- 로그인 부분 -->
    <div class="inside">
        <div class="white1"></div>
        <div class="login">
            <h1>LOGIN</h1>
        </div>
        <div class="white2"></div>
        <div>
            <div>
                <div class="text_c1" >
                    <a href="https://nid.naver.com/nidlogin.login?mode=form&url=https://www.naver.com/">
                        <img src="./images/naver.png" alt="">네이버로 시작하기</a>
                </div>
                <div class="text_c2" >
                    <a href="https://accounts.google.com/v3/signin/identifier?dsh=S2013530587%3A1689162722840170&continue=https%3A%2F%2Fwww.google.com%3Fhl%3Dko&ec=GAlA8wE&hl=ko&flowName=GlifWebSignIn&flowEntry=AddSession">
                        <img src="./images/google.png" alt="">Google로 시작하기</a>
                </div>
                <div class="text_c3" >
                    <a href="https://accounts.kakao.com/login/?continue=https%3A%2F%2Fcs.kakao.com%2Fhelps%3Fservice%3D8%26locale%3Dko%26category%3D25#login">
                        <img src="./images/kakao.png" alt="">카카오로 시작하기</a>
                </div>
                <div class="and">
                    <div class="border"></div>
                    <div class="border-and">또는</div>
                    <div class="border1"></div>
                </div>
                <form action="/auth/signin" method="post">
                    <input type="hidden">
                    <div class="login-input">
                        <input type="text" title="이메일" id="userEamil" placeholder="이메일">   
                        <input type="password" title="비밀번호" id="userpassword" placeholder="비밀번호" autocomplete="off">
                    </div>
                    <div class="login-click">
                        <label class="login-click1">
                            <input type="checkbox" checked="checked" >
                            <span>로그인상태유지</span>
                        </label>
                    </div>
                    <p>
                        <button class="text_c4">로그인</button>
                    </p>
                </form>
                <div class="login-text">
                    <a href="">회원가입</a>
                    <a href="" class="find-id-password">아이디·비밀번호찾기 </a>
                </div>
            </div>
        </div>
        <div>
            <div style="margin-top: 0px; margin-bottom: 0px;">
                <div style="width: 100%; min-height: 1px; height: 60px;"></div>
            </div>
        </div>
        <hr class="line">
        
    </div>

    <footer id="footer">
        <div class="background-img"><img src="./images/footer-img01.png" alt=""></div>
    </footer>

    
</body>
</html>