<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시물 작성폼</title>
	<link rel="stylesheet" type="text/css" href="/static/css/nam/reset.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/Lim/qna.css"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>

<body>
    <div class=header>
		<h3>Q&A</h3>
		<div class="button-area">
			<button type="button">취소</button>
		</div>
	</div>
	<div class="layout">
		<div>
			<input name="boardTitle" type="text" placeholder="제목" class="titletext">
			<textarea name="boardContent" class="textarea"></textarea>
			<button type="button" onclick="getQnaData()">작성</button>
		</div>
	</div>
    <script src="../../static/js/Lim/qna.js"></script>
</body>
</html>