<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/Lim/style.css">
    <link rel="stylesheet" href="/static/css/Lim/userdelet.css">
</head>
<body>
    <div class="sid">
        <h3>회원탈퇴</h3>
        <div>
            <div>가입된 회원정보가 모두 삭제됩니다. 작성하신 게시물은 삭제되지 않습니다. </div>
           <div>탈퇴 후 같은 계정으로 재가입 시 기존에 가지고 있던 적립금은 복원되지 않으며, 사용 및 다운로드 했던 쿠폰도 사용 불가능합니다. </div>
           <div>회원 탈퇴를 진행하시겠습니까?</div>
        </div>
            <div>
            <button>취소</button>
            <button class="user-delet-button">탈퇴하기</button>
        </div>
    </div>
</body>
</html>