.board-table {
    border-collapse: collapse;
    font-family: 'NanumSquareRound';
}

.board-table th, td {
    text-align: left;
    padding-left: 15px;
    border: 1px solid black;    
}

.board-table input {
    width: 300px;
    height: 30px;
    box-sizing: border-box;
}

.board-table select {
    width: 150px;
    height: 30px;
}

.board-table textarea {
    vertical-align: middle;
    font-family: 'NanumSquareRound';
}

.board-table th {
    width: 15%;
    background-color: #417451;
    color: white;
}

.board-table td {
    width: 35%;
}

.end {
    position: absolute;
    top: 93%;
    left: 47.6%;
}