<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>well mate</title>
    <link rel="stylesheet" href="/static/css/koo/font.css">
    <link rel="stylesheet" href="/static/css/koo/mate.css">
    <link rel="stylesheet" href="/static/css/koo/main-header.css">
    <link rel="stylesheet" href="/static/css/koo/footer.css">
    <link rel="stylesheet" href="/static/css/Nam/main.css">
    <script src="https://kit.fontawesome.com/7664657868.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/static/js/Lim/main.js"></script>
</head>
<body>
    <div id="wrap">
        <!-- 헤더 부분 -->
        <header id="header">
            <header class="header-inner">
                <nav class="nav">
                    <div><a href="/brand">BRAND</a></div>
                    <div><a href="/program">PROGRAM</a></div>
                    <div><a href="/wellmate">WELL MATE</a></div>
                    <div><a href="/item">WELLNESS ITEM</a></div>
                </nav>
                <div class="logo"><a href="/"><img src="/static/img/logo.png" alt=""></a></div>
                <nav class="nav1">
                	<div><a href="/contact">CONTACT</a></div>
					<div><a href="/board/notice">자유게시판</a></div>
					<div><a href="/notice/main">공지사항</a></div>
                </nav>
                <nav class="login">
                    <p><a href="/auth/signin">로그인</a></p>
                    <p><a href="/auth/signup">회원가입</a></p>
                    <div class="bar-img"><i class="fa-solid fa-bars"></i></div>
                </nav>
            </header>
        </header>
        <!-- 바디 부분 -->
        <section id="mate">
            <section class="inner">
                <div class="mate-box">
                    <div>
                        <div class="fontcolor">
                            <div class="box-top"></div>
                            <span class="mate-font">Well mate</span>
                            <h6 class="mate-font1">함께하는 우리, 웰 메이트</h6>
                        </div>
                        <div class="fontcolor">
                            <div class="box-middle"></div>
                            <p class="mate-fonts2">누군가의 삶에 작은 시도를 할 수 있는 건강한 에너지를,</p>
                            <p class="mate-fonts3">일상 속 아름다움을 만들어가는 웰 메이드를 소개합니다.</p>
                        </div>
                    </div>
                </div>
                <div class="mate-middle"></div>
                <div><h6 class="mate-story">웰 메이트 이야기</h6></div>
                <div class="mate-under">
                        <div class="mate-under1">
                            <a href="/wellmate/1">
                                <div class="mate-under-box1"><img src="/static/img/well1.png" alt=""></div>
                                <div class="mate-uunder">
                                    <p class="mate-under-font">웰 메이트 l 고은혜</p>
                                    <p class="mate-under-font-small">잔잔하게 빛나는 우리를 응원해요</p>
                                </div>
                            </a>
                        </div>
                        <div class="mate-under1">
                            <a href="/wellmate/2">
                                <div class="mate-under-box2"><img src="/static/img/well2.png" alt=""></div>
                                <div class="mate-uunder">
                                    <p class="mate-under-font">웰 메이트 '이한님'</p>
                                    <p class="mate-under-font-small">내 안의 다양한 색을 꺼내보세요</p>
                                </div>
                            </a>
                        </div>
                        <div class="mate-under1">
                            <a href="/wellmate/3">
                                <div class="mate-under-box3"><img src="/static/img/well3.png" alt=""></div>
                                <div class="mate-uunder">
                                    <p class="mate-under-font">웰 메이트 '박신영'</p>
                                    <p class="mate-under-font-small">일상을 채우는 음악의 작은 선물</p>
                                </div>
                            </a>
                        </div>
                        <div class="mate-under2">
                            <a href="/wellmate/4">
                                <div class="mate-under-box4"><img src="/static/img/well4.png" alt=""></div>
                                <div class="mate-uunder">
                                    <p class="mate-under-font">웰 메이트 '이승연,고민정'</p>
                                    <p class="mate-under-font-small">제주의 가치를 예술로 전하고 싶어요</p>
                                </div>
                            </a>
                        </div>
                        <div class="mate-under3"></div>
                        <div class="mate-under3"></div>
                </div>
                <div class="boxbox"></div>
            </section>
            <footer id="footer">
                <img src="/static/img/footer.png" alt="">
            </footer>
        </section>
    </div>
    
</body>
</html>