<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <link rel="stylesheet" type="text/css" href="/static/css/nam/reset.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/Koo/noticewrite.css"/>
    <link rel="stylesheet" href="/static/css/Nam/main.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="/static/js/Lim/main.js"></script>
</head>

<body>
   <div id="wrap">
       <div class=header>
         <h3>공지 수정</h3>
         <div class="button-area">
            <button type="button">취소</button>
            <button type="button" onclick="getData()" class="notice-button1">작성</button>
         </div>
      </div>
      <div class="layout">
         <div>
            <input name="noticeTitle" type="text" placeholder="제목" class="notice-title">
            <div class="bar"></div>
            <textarea name="ir1" id="ir1" placeholder="내용을 입력해주세요" class="textarea"></textarea>
         </div>
      </div>
   </div>
   
    <script type="text/javascript" src="/static/js/koo/noticeUpdate.js"></script>
    <script src="/static/smarteditor/js/service/HuskyEZCreator.js"></script>
</body>
</html>