<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <link rel="stylesheet" type="text/css" href="/static/css/nam/reset.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/Koo/notice-main.css"  />
    <link rel="stylesheet" href="/static/css/Nam/main.css">
    <script src="https://kit.fontawesome.com/21e161ac95.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/static/js/koo/noticewrite.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/static/js/Lim/main.js"></script>
</head>
<body>
    <div id="wrap">
        <header id="header">
            <header class="header-inner">
                <nav class="nav">
                    <div><a href="/brand">BRAND</a></div>
                    <div><a href="/program">PROGRAM</a></div>
                    <div><a href="/wellmate">WELL MATE</a></div>
                    <div><a href="/item">WELLNESS ITEM</a></div>
                </nav>
                <div class="logo"><a href="/"><img src="/static/img/logo.png" alt=""></a></div>
                <nav class="nav1">
                	<div><a href="/contact">CONTACT</a></div>
					<div><a href="/board/notice">자유게시판</a></div>
					<div><a href="/notice/main">공지사항</a></div>
                </nav>
                <nav class="login">
                    <p><a href="/auth/signin">로그인</a></p>
                    <p><a href="/auth/signup">회원가입</a></p>
                    <div class="bar-img"><i class="fa-solid fa-bars"></i></div>
                </nav>
            </header>
        </header>

        <!-- 공지사항 -->
        <div class="notice-main">
            <div class="main-img">
                <img src="/static/img/notice03.png">
            </div>
            <div class="notice-inner">
                <div class="search-bar">
                    <button type="button" class="write-now" id="admin"><a href="/notice/write">공지 쓰기</a></button>
                    <input type="text" title="검색" placeholder="검색하세요" id="search" class="search-form">
                    <button type="button" class="search-button"><i class="fa-solid fa-magnifying-glass fa-2xs"></i></button>
                </div>
                <table class="notice-list">
                    <tbody class="notice-listlis">
                        <tr>
                            <td class="notice-num">123</td>
                            <td class="notice-title">123</td>            
                            <td class="username">123</td>
                            <td class="notice-date">123</td>
                            <td><i class="fa-regular fa-trash-can"></i></td>
                            <td><button type="button"><a href="/notice/update"><i class="fa-regular fa-pen-to-square"></i></a></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="notice-search-button">
                <div class="page-buttons">
                    <button type="button" class="page-button">&lt;</button>
                    <button type="button" class="page-button">1</button>
                    <button type="button" class="page-button">2</button>
                    <button type="button" class="page-button">3</button>
                    <button type="button" class="page-button">4</button>
                    <button type="button" class="page-button">5</button>
                    <button type="button" class="page-button">&gt;</button>
                </div>
            </div>
        </div>

        <!-- 하단부분 -->
        <footer id="footer">
            <div class="footer-img"><img src="/static/img/footer.png"  alt="" /></div>
        </footer>
    </div>
    <script>
  // 이 부분에서 현재 사용자의 로그인 상태를 판단하는 로직을 추가해야 합니다.
//  let isLoggedIn = true; // 예시로 false로 설정해두었습니다. 실제로는 사용자 정보 등을 기반으로 판단해야 합니다.
  
  // 만약 사용자가 로그인되어 있지 않다면 버튼을 숨김
//  if (!isLoggedIn) {
//    var adminButton = document.getElementById("admin");
 //   adminButton.style.display = "none";}
</script>
</body>
</html>