<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>well4</title>
    <link rel="stylesheet" href="/static/css/koo/font.css">
    <link rel="stylesheet" href="/static/css/koo/well4.css">
    <link rel="stylesheet" href="/static/css/koo/main-header.css">
    <link rel="stylesheet" href="/static/css/koo/footer.css">
    <link rel="stylesheet" href="/static/css/Nam/main.css">
    <script src="https://kit.fontawesome.com/7664657868.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/static/js/Lim/main.js"></script>
</head>
<body>
    <!-- 헤더 부분 -->
    <header id="header">
       <header class="header-inner">
                <nav class="nav">
                    <div><a href="/brand">BRAND</a></div>
                    <div><a href="/program">PROGRAM</a></div>
                    <div><a href="/wellmate">WELL MATE</a></div>
                    <div><a href="/item">WELLNESS ITEM</a></div>
                </nav>
                <div class="logo"><a href="/"><img src="/static/img/logo.png" alt=""></a></div>
                <nav class="nav1">
                	<div><a href="/contact">CONTACT</a></div>
					<div><a href="/board/notice">자유게시판</a></div>
					<div><a href="/notice/main">공지사항</a></div>
                </nav>
                <nav class="login">
                    <p><a href="/auth/signin">로그인</a></p>
                    <p><a href="/auth/signup">회원가입</a></p>
                    <div class="bar-img"><i class="fa-solid fa-bars"></i></div>
                </nav>
            </header>
    </header>
    <!-- body -->
    <section>
        <div>
            <div class="real">
                <div class="container">
                    <img src="/static/img/mate4-1.png" alt="">
                </div>
                <div class="abs">
                    <a href="">
                        <div class="img-b">오몽-나만의 구좌 풍경을 담는 판화 클래스</div>
                    </a>
                </div>
            </div>
                <div id="bb">
                    <div class="block"></div>
                    <div class="link">
                        <div class="link-i">
                            <button class="ic-btn">
                                <i class="fa-solid fa-print"></i>
                            </button>
                        </div>
                        <div class="link-i">
                            <button id="openModalBtn">
                                <div class="ic-btn">
                                    <i class="fa-solid fa-share-nodes"></i>
                                </div>
                            </button>
                            <div id="myModal" class="modal">
                                <div class="modal-content">
                                    <span class="close"><i class="fa-solid fa-xmark"></i></span>
                                    <div class="test">공유하기</div>
                                    <div class="test-u">
                                        <div class="links">
                                            <a href=""><img src="/static/img/line.png" alt="" class="line-link"></a>
                                            <a href=""><img src="/static/img/band.png" alt="" class="band-link"></a>
                                            <a href=""><img src="/static/img/naver-link.png" alt="" class="naver-link"></a>
                                            <a href=""><img src="/static/img/facebook.png" alt="" class="facebook-link"></a>
                                            <a href=""><img src="/static/img/twiter.png" alt="" class="twiter-link"></a>
                                        </div>
                                        <div class="u">
                                            <div class="links-copy"><p>https://ilsangtrip.com/wellmate/?q=YToxOntzOjEyOiJrZXl3b3JkX3R5cGUiO3M6MzoiYWxsIjt9&bmode=view&idx=14961414&t=board</p></div>
                                            <button type="button" class="links-copy2">복사</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="next-box">
                        <a href="/templates/Koo/well3.html" class="next">
                            <i class="fa-solid fa-chevron-up"></i>
                            <span>웰 메이트 '이한님'</span>
                        </a>
                    </div>
                    <div>
                        <div class="mok">
                            <a class="mok-b">목록</a>
                        </div>
                    </div>
                </div>
            </div>
        <!-- footer -->
        <footer id="footer">
            <img src="/static/img/footer.png" alt="">
        </footer>
    </section>
    <script src="/static/js/koo/sharing.js"></script>
</body>
</html>